<div class="grid grid-cols-1 lg:grid-cols-2 gap-[25px] mb-[25px]">

    <!-- Welcome -->
    <app-welcome />

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-[25px]">

        <!-- Customer Satisfaction Rate -->
        <app-customer-satisfaction-rate />

        <!-- New Customers -->
        <app-new-customers />

    </div>

</div>

<div class="grid grid-cols-1 lg:grid-cols-3 gap-[25px] mb-[25px]">
    <div class="lg:col-span-2">

        <!-- Top Selling Products -->
        <app-top-selling-products />

    </div>
    <div class="lg:col-span-1">

        <!-- Customers From Channels -->
        <app-customers-from-channels />

    </div>
</div>

<div class="grid grid-cols-1 lg:grid-cols-3 gap-[25px] mb-[25px]">
    <div class="lg:col-span-1">

        <!-- Featured Services -->
        <app-featured-services />

    </div>
    <div class="lg:col-span-2">

        <!-- Recent Appointments -->
        <app-recent-appointments />

    </div>
</div>

<div class="grid grid-cols-1 lg:grid-cols-3 gap-[25px] mb-[25px]">
    <div class="lg:col-span-2">

        <!-- Revenue By Services -->
        <app-revenue-by-services />

    </div>
    <div class="lg:col-span-1">

        <!-- Top Stylist Performance -->
        <app-top-stylist-performance />

    </div>
</div>

<!-- Top Customers -->
<app-top-customers />