<div class="grid grid-cols-1 xl:grid-cols-2 gap-[25px] mb-[25px]">

    <!-- Stats -->
    <div class="grid grid-cols-2 lg:grid-cols-3 gap-[25px]">

        <!-- Instagram Followers -->
        <app-instagram-followers />

        <!-- LinkedIn Followers -->
        <app-linkedin-followers />

        <!-- Tiktok Followers -->
        <app-tiktok-followers />

        <!-- Facebook Followers -->
        <app-facebook-followers />

        <!-- X Followers -->
        <app-x-followers />

        <!-- YouTube Subscribers -->
        <app-youtube-subscribers />
        
    </div>

    <!-- LinkedIn Net Followers -->
    <app-linkedin-net-followers />

</div>

<div class="grid grid-cols-1 lg:grid-cols-3 gap-[25px] mb-[25px]">

    <!-- Suggestions -->
    <app-suggestions />

    <!-- Followers By Gender -->
    <app-followers-by-gender />

    <!-- Recent Instagram Followers -->
    <app-recent-instagram-followers />

</div>

<div class="grid grid-cols-1 lg:grid-cols-3 gap-[25px] mb-[25px]">
    <div class="lg:col-span-2">

        <!-- Facebook Campaign -->
        <app-facebook-campaign />

    </div>
    <div class="lg:col-span-1">

        <!-- Upgrade Plan -->
        <app-upgrade-plan />

    </div>
</div>