<div class="grid grid-cols-1 lg:grid-cols-3 gap-[25px] mb-[25px]">
    <div class="lg:col-span-2">

        <!-- Featured -->
        <app-featured />

    </div>
    <div class="lg:col-span-1">

        <!-- Popular Hosts -->
        <app-popular-hosts />

    </div>
</div>

<div class="grid grid-cols-1 lg:grid-cols-3 gap-[25px] mb-[25px]">
    <div class="lg:col-span-2">

        <!-- Recently Played -->
        <app-recently-played />

    </div>
    <div class="lg:col-span-1">

        <!-- Player -->
        <app-player />

    </div>
</div>

<div class="grid grid-cols-1 lg:grid-cols-3 gap-[25px] mb-[25px]">
    <div class="lg:col-span-2">

        <!-- Most Popular -->
        <app-most-popular />

    </div>
    <div class="lg:col-span-1">

        <!-- Upcoming Episodes -->
        <app-upcoming-episodes />

        <!-- Today's Earnings -->
        <app-todays-earnings />

    </div>
</div>

<div class="grid grid-cols-1 lg:grid-cols-2 gap-[25px] mb-[25px]">

    <!-- Listener Analytics -->
    <app-listener-analytics />

    <!-- Top Podcasters -->
    <app-top-podcasters />

</div>