<div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md">
    <div class="trezo-card-content relative">
        <span class="block">
            Expense
        </span>
        <h3 class="-tracking-[0.5px] mb-[4px] mt-px text-3xl">
            $132K
        </h3>
        <span class="inline-block text-xs px-[9px] text-danger-700 border border-danger-300 bg-danger-100 dark:bg-[#15203c] dark:border-[#15203c] text-sm rounded-[100px]">
            -1.2%
        </span>
        <span class="block text-xs mt-[5px]">
            vs previous 30 days
        </span>
        <div class="absolute ltr:-right-[8px] rtl:-left-[8px] top-1/2 -translate-y-1/2 max-w-[120px]">
            <div id="restaurant_expense_chart"></div>
        </div>
    </div>
</div>