<div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md">
    <div class="trezo-card-content flex justify-between">
        <div>
            <span class="block">
                Appointments
            </span>
            <h2 class="text-xl md:text-2xl font-black mt-[5px] mb-[8px]">
                32
            </h2>
            <span class="inline-block text-xs rounded-[30px] px-[10px] border border-orange-300 text-danger-500 bg-orange-100 dark:border-[#15203c] dark:bg-[#15203c]">
                -0.04%
            </span>
        </div>
        <div class="mt-[5px]">
            <img src="images/icons/add-event.svg" alt="add-event">
        </div>
    </div>
</div>