<div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md">
    <div class="trezo-card-header mb-[20px] md:mb-[25px] flex items-center justify-between">
        <div class="trezo-card-title">
            <h5 class="mb-0 font-semibold">
                Top Podcasters
            </h5>
        </div>
        <div class="trezo-card-subtitle">
            <a routerLink="." class="inline-block relative ltr:pr-[13px] rtl:pl-[13px] leading-none transition-all hover:text-primary-500">
                View All <i class="ri-arrow-right-s-line absolute top-1/2 -translate-y-1/2 ltr:-right-[8px] rtl:-left-[8px] text-[23px] -mt-px"></i>
            </a>
        </div>
    </div>
    <div class="trezo-card-content -mx-[20px] md:-mx-[25px]">
        <div class="table-responsive overflow-x-auto">
            <table class="w-full without-top-bottom-border">
                <thead class="text-black dark:text-white">
                    <tr>
                        <th class="font-medium text-xs ltr:text-left rtl:text-right px-[20px] py-[8px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] ltr:first:pr-0 rtl:first:pl-0 bg-gray-50 dark:bg-[#15203c] whitespace-nowrap text-gray-500 dark:text-gray-400">
                            Name
                        </th>
                        <th class="font-medium text-xs ltr:text-left rtl:text-right px-[20px] py-[8px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] ltr:first:pr-0 rtl:first:pl-0 bg-gray-50 dark:bg-[#15203c] whitespace-nowrap text-gray-500 dark:text-gray-400">
                            Episodes
                        </th>
                        <th class="font-medium text-xs ltr:text-left rtl:text-right px-[20px] py-[8px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] ltr:first:pr-0 rtl:first:pl-0 bg-gray-50 dark:bg-[#15203c] whitespace-nowrap text-gray-500 dark:text-gray-400">
                            Earnings
                        </th>
                        <th class="font-medium text-xs ltr:text-left rtl:text-right px-[20px] py-[8px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] ltr:first:pr-0 rtl:first:pl-0 bg-gray-50 dark:bg-[#15203c] whitespace-nowrap text-gray-500 dark:text-gray-400">
                            Ratings
                        </th>
                    </tr>
                </thead>
                <tbody class="text-black dark:text-white">
                    <tr>
                        <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[12px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] ltr:first:pr-0 rtl:first:pl-0 border-b border-gray-100 dark:border-[#172036]">
                            <div class="flex items-center gap-[10px]">
                                <div class="rounded-full w-[40px]">
                                    <img src="images/users/user24.jpg" class="inline-block rounded-full" alt="user-image">
                                </div>
                                <div>
                                    <span class="font-medium inline-block mb-px">
                                        Tom Richards
                                    </span>
                                    <span class="block text-gray-500 dark:text-gray-400 text-xs">
                                        Content Strategist
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td class="font-medium ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[12px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] ltr:first:pr-0 rtl:first:pl-0 border-b border-gray-100 dark:border-[#172036]">
                            95
                        </td>
                        <td class="font-medium ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[12px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] ltr:first:pr-0 rtl:first:pl-0 border-b border-gray-100 dark:border-[#172036]">
                            $125,000
                        </td>
                        <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[12px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] ltr:first:pr-0 rtl:first:pl-0 border-b border-gray-100 dark:border-[#172036]">
                            <div class="text-[15px] leading-none text-orange-400">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[12px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] ltr:first:pr-0 rtl:first:pl-0 border-b border-gray-100 dark:border-[#172036]">
                            <div class="flex items-center gap-[10px]">
                                <div class="rounded-full w-[40px]">
                                    <img src="images/users/user25.jpg" class="inline-block rounded-full" alt="user-image">
                                </div>
                                <div>
                                    <span class="font-medium inline-block mb-px">
                                        Amanda Garcia
                                    </span>
                                    <span class="block text-gray-500 dark:text-gray-400 text-xs">
                                        Social Media
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td class="font-medium ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[12px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] ltr:first:pr-0 rtl:first:pl-0 border-b border-gray-100 dark:border-[#172036]">
                            110
                        </td>
                        <td class="font-medium ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[12px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] ltr:first:pr-0 rtl:first:pl-0 border-b border-gray-100 dark:border-[#172036]">
                            $140,000
                        </td>
                        <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[12px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] ltr:first:pr-0 rtl:first:pl-0 border-b border-gray-100 dark:border-[#172036]">
                            <div class="text-[15px] leading-none text-orange-400">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-half-line"></i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[12px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] ltr:first:pr-0 rtl:first:pl-0 border-b border-gray-100 dark:border-[#172036]">
                            <div class="flex items-center gap-[10px]">
                                <div class="rounded-full w-[40px]">
                                    <img src="images/users/user26.jpg" class="inline-block rounded-full" alt="user-image">
                                </div>
                                <div>
                                    <span class="font-medium inline-block mb-px">
                                        Lisa Kim
                                    </span>
                                    <span class="block text-gray-500 dark:text-gray-400 text-xs">
                                        Branding Consultant
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td class="font-medium ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[12px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] ltr:first:pr-0 rtl:first:pl-0 border-b border-gray-100 dark:border-[#172036]">
                            85
                        </td>
                        <td class="font-medium ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[12px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] ltr:first:pr-0 rtl:first:pl-0 border-b border-gray-100 dark:border-[#172036]">
                            $160,000
                        </td>
                        <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[12px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] ltr:first:pr-0 rtl:first:pl-0 border-b border-gray-100 dark:border-[#172036]">
                            <div class="text-[15px] leading-none text-orange-400">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-line"></i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[12px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] ltr:first:pr-0 rtl:first:pl-0 border-b border-gray-100 dark:border-[#172036]">
                            <div class="flex items-center gap-[10px]">
                                <div class="rounded-full w-[40px]">
                                    <img src="images/users/user27.jpg" class="inline-block rounded-full" alt="user-image">
                                </div>
                                <div>
                                    <span class="font-medium inline-block mb-px">
                                        Michael Young
                                    </span>
                                    <span class="block text-gray-500 dark:text-gray-400 text-xs">
                                        Data Analytics
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td class="font-medium ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[12px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] ltr:first:pr-0 rtl:first:pl-0 border-b border-gray-100 dark:border-[#172036]">
                            130
                        </td>
                        <td class="font-medium ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[12px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] ltr:first:pr-0 rtl:first:pl-0 border-b border-gray-100 dark:border-[#172036]">
                            $90,000
                        </td>
                        <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[12px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] ltr:first:pr-0 rtl:first:pl-0 border-b border-gray-100 dark:border-[#172036]">
                            <div class="text-[15px] leading-none text-orange-400">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-half-line"></i>
                                <i class="ri-star-line"></i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[12px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] ltr:first:pr-0 rtl:first:pl-0 border-b border-gray-100 dark:border-[#172036]">
                            <div class="flex items-center gap-[10px]">
                                <div class="rounded-full w-[40px]">
                                    <img src="images/users/user28.jpg" class="inline-block rounded-full" alt="user-image">
                                </div>
                                <div>
                                    <span class="font-medium inline-block mb-px">
                                        Ravi Patel
                                    </span>
                                    <span class="block text-gray-500 dark:text-gray-400 text-xs">
                                        SEO & SEM
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td class="font-medium ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[12px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] ltr:first:pr-0 rtl:first:pl-0 border-b border-gray-100 dark:border-[#172036]">
                            75
                        </td>
                        <td class="font-medium ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[12px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] ltr:first:pr-0 rtl:first:pl-0 border-b border-gray-100 dark:border-[#172036]">
                            $85,000
                        </td>
                        <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[12px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] ltr:first:pr-0 rtl:first:pl-0 border-b border-gray-100 dark:border-[#172036]">
                            <div class="text-[15px] leading-none text-orange-400">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>