<div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md">
    <div class="trezo-card-header mb-[20px] flex items-center justify-between">
        <div class="trezo-card-title">
            <h5 class="mb-0 font-semibold">
                Popular Hosts
            </h5>
        </div>
        <div class="trezo-card-subtitle">
            <a routerLink="." class="inline-block relative ltr:pr-[13px] rtl:pl-[13px] leading-none transition-all hover:text-primary-500">
                View All <i class="ri-arrow-right-s-line absolute top-1/2 -translate-y-1/2 ltr:-right-[8px] rtl:-left-[8px] text-[23px] -mt-px"></i>
            </a>
        </div>
    </div>
    <div class="trezo-card-content -mx-[20px] md:-mx-[25px]">
        <div class="table-responsive overflow-x-auto -mt-[9px]">
            <table class="w-full without-top-bottom-border">
                <tbody class="text-black dark:text-white">
                    <tr>
                        <td class="ltr:text-left rtl:text-right ltr:last:text-right rtl:last:text-left whitespace-nowrap px-[20px] py-[11px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] md:ltr:last:pr-[25px] md:rtl:last:pl-[25px] border-b border-gray-100 dark:border-[#172036]">
                            <div class="flex items-center gap-[10px]">
                                <div class="rounded-full w-[40px]">
                                    <img src="images/users/user54.jpg" class="inline-block rounded-full" alt="user-image">
                                </div>
                                <div>
                                    <span class="font-medium inline-block mb-px">
                                        Sarah W.
                                    </span>
                                    <span class="block text-gray-500 dark:text-gray-400 text-xs">
                                        Marketing
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td class="ltr:text-left rtl:text-right ltr:last:text-right rtl:last:text-left whitespace-nowrap px-[20px] py-[11px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] md:ltr:last:pr-[25px] md:rtl:last:pl-[25px] border-b border-gray-100 dark:border-[#172036]">
                            <span class="font-medium inline-block mb-px">
                                25
                            </span>
                            <span class="block text-gray-500 dark:text-gray-400 text-xs">
                                Hosted
                            </span>
                        </td>
                        <td class="ltr:text-left rtl:text-right ltr:last:text-right rtl:last:text-left whitespace-nowrap px-[20px] py-[11px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] md:ltr:last:pr-[25px] md:rtl:last:pl-[25px] border-b border-gray-100 dark:border-[#172036]">
                            <button type="button" class="inline-block rounded-md py-[3.5px] px-[9.5px] text-primary-500 bg-primary-50 dark:bg-dark transition-all hover:bg-primary-500 hover:text-white">
                                Follow
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="ltr:text-left rtl:text-right ltr:last:text-right rtl:last:text-left whitespace-nowrap px-[20px] py-[11px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] md:ltr:last:pr-[25px] md:rtl:last:pl-[25px] border-b border-gray-100 dark:border-[#172036]">
                            <div class="flex items-center gap-[10px]">
                                <div class="rounded-full w-[40px]">
                                    <img src="images/users/user53.jpg" class="inline-block rounded-full" alt="user-image">
                                </div>
                                <div>
                                    <span class="font-medium inline-block mb-px">
                                        Tom R.
                                    </span>
                                    <span class="block text-gray-500 dark:text-gray-400 text-xs">
                                        Blogging
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td class="ltr:text-left rtl:text-right ltr:last:text-right rtl:last:text-left whitespace-nowrap px-[20px] py-[11px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] md:ltr:last:pr-[25px] md:rtl:last:pl-[25px] border-b border-gray-100 dark:border-[#172036]">
                            <span class="font-medium inline-block mb-px">
                                30
                            </span>
                            <span class="block text-gray-500 dark:text-gray-400 text-xs">
                                Hosted
                            </span>
                        </td>
                        <td class="ltr:text-left rtl:text-right ltr:last:text-right rtl:last:text-left whitespace-nowrap px-[20px] py-[11px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] md:ltr:last:pr-[25px] md:rtl:last:pl-[25px] border-b border-gray-100 dark:border-[#172036]">
                            <button type="button" class="inline-block rounded-md py-[3.5px] px-[9.5px] text-primary-500 bg-primary-50 dark:bg-dark transition-all hover:bg-primary-500 hover:text-white">
                                Follow
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="ltr:text-left rtl:text-right ltr:last:text-right rtl:last:text-left whitespace-nowrap px-[20px] py-[11px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] md:ltr:last:pr-[25px] md:rtl:last:pl-[25px] border-b border-gray-100 dark:border-[#172036]">
                            <div class="flex items-center gap-[10px]">
                                <div class="rounded-full w-[40px]">
                                    <img src="images/users/user55.jpg" class="inline-block rounded-full" alt="user-image">
                                </div>
                                <div>
                                    <span class="font-medium inline-block mb-px">
                                        Amanda G.
                                    </span>
                                    <span class="block text-gray-500 dark:text-gray-400 text-xs">
                                        Branding
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td class="ltr:text-left rtl:text-right ltr:last:text-right rtl:last:text-left whitespace-nowrap px-[20px] py-[11px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] md:ltr:last:pr-[25px] md:rtl:last:pl-[25px] border-b border-gray-100 dark:border-[#172036]">
                            <span class="font-medium inline-block mb-px">
                                28
                            </span>
                            <span class="block text-gray-500 dark:text-gray-400 text-xs">
                                Hosted
                            </span>
                        </td>
                        <td class="ltr:text-left rtl:text-right ltr:last:text-right rtl:last:text-left whitespace-nowrap px-[20px] py-[11px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] md:ltr:last:pr-[25px] md:rtl:last:pl-[25px] border-b border-gray-100 dark:border-[#172036]">
                            <button type="button" class="inline-block rounded-md py-[3.5px] px-[9.5px] text-white bg-primary-500 dark:bg-dark transition-all hover:bg-primary-500 hover:text-white">
                                Following
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="ltr:text-left rtl:text-right ltr:last:text-right rtl:last:text-left whitespace-nowrap px-[20px] py-[11px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] md:ltr:last:pr-[25px] md:rtl:last:pl-[25px] border-b border-gray-100 dark:border-[#172036]">
                            <div class="flex items-center gap-[10px]">
                                <div class="rounded-full w-[40px]">
                                    <img src="images/users/user41.jpg" class="inline-block rounded-full" alt="user-image">
                                </div>
                                <div>
                                    <span class="font-medium inline-block mb-px">
                                        Lisa Kim
                                    </span>
                                    <span class="block text-gray-500 dark:text-gray-400 text-xs">
                                        Storytelling
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td class="ltr:text-left rtl:text-right ltr:last:text-right rtl:last:text-left whitespace-nowrap px-[20px] py-[11px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] md:ltr:last:pr-[25px] md:rtl:last:pl-[25px] border-b border-gray-100 dark:border-[#172036]">
                            <span class="font-medium inline-block mb-px">
                                20
                            </span>
                            <span class="block text-gray-500 dark:text-gray-400 text-xs">
                                Hosted
                            </span>
                        </td>
                        <td class="ltr:text-left rtl:text-right ltr:last:text-right rtl:last:text-left whitespace-nowrap px-[20px] py-[11px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] md:ltr:last:pr-[25px] md:rtl:last:pl-[25px] border-b border-gray-100 dark:border-[#172036]">
                            <button type="button" class="inline-block rounded-md py-[3.5px] px-[9.5px] text-primary-500 bg-primary-50 dark:bg-dark transition-all hover:bg-primary-500 hover:text-white">
                                Follow
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="ltr:text-left rtl:text-right ltr:last:text-right rtl:last:text-left whitespace-nowrap px-[20px] py-[11px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] md:ltr:last:pr-[25px] md:rtl:last:pl-[25px] border-b border-gray-100 dark:border-[#172036]">
                            <div class="flex items-center gap-[10px]">
                                <div class="rounded-full w-[40px]">
                                    <img src="images/users/user43.jpg" class="inline-block rounded-full" alt="user-image">
                                </div>
                                <div>
                                    <span class="font-medium inline-block mb-px">
                                        David C.
                                    </span>
                                    <span class="block text-gray-500 dark:text-gray-400 text-xs">
                                        Social Media
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td class="ltr:text-left rtl:text-right ltr:last:text-right rtl:last:text-left whitespace-nowrap px-[20px] py-[11px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] md:ltr:last:pr-[25px] md:rtl:last:pl-[25px] border-b border-gray-100 dark:border-[#172036]">
                            <span class="font-medium inline-block mb-px">
                                18
                            </span>
                            <span class="block text-gray-500 dark:text-gray-400 text-xs">
                                Hosted
                            </span>
                        </td>
                        <td class="ltr:text-left rtl:text-right ltr:last:text-right rtl:last:text-left whitespace-nowrap px-[20px] py-[11px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] md:ltr:last:pr-[25px] md:rtl:last:pl-[25px] border-b border-gray-100 dark:border-[#172036]">
                            <button type="button" class="inline-block rounded-md py-[3.5px] px-[9.5px] text-primary-500 bg-primary-50 dark:bg-dark transition-all hover:bg-primary-500 hover:text-white">
                                Follow
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>