<div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md">
    <div class="trezo-card-header mb-[20px] md:mb-[25px] flex items-center justify-between">
        <div class="trezo-card-title">
            <h5 class="mb-0">
                Top Stylist Performance
            </h5>
        </div>
    </div>
    <div class="trezo-card-content">
        <div class="table-responsive overflow-x-auto">
            <table class="w-full">
                <tbody class="text-black dark:text-white">
                    <tr>
                        <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[11.5px] ltr:first:pl-0 rtl:first:pr-0 border-b border-primary-50 dark:border-[#172036] ltr:last:pr-0 rtl:last:pl-0 ltr:last:text-right rtl:last:text-left">
                            <div class="flex items-center gap-[10px]">
                                <div class="rounded-md w-[40px]">
                                    <img src="images/users/user75.jpg" class="inline-block rounded-md" alt="user-image">
                                </div>
                                <div>
                                    <span class="font-semibold inline-block mb-px">
                                        Johhna Loren
                                    </span>
                                    <span class="block text-gray-500 dark:text-gray-400 text-xs">
                                        2032 Total Bookings
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[11.5px] ltr:first:pl-0 rtl:first:pr-0 border-b border-primary-50 dark:border-[#172036] ltr:last:pr-0 rtl:last:pl-0 ltr:last:text-right rtl:last:text-left">
                            <div class="flex items-center justify-end leading-none gap-[2px]">
                                <i class="ri-star-fill text-orange-500"></i>
                                <i class="ri-star-fill text-orange-500"></i>
                                <i class="ri-star-fill text-orange-500"></i>
                                <i class="ri-star-fill text-orange-500"></i>
                                <i class="ri-star-fill text-orange-500"></i>
                                <span class="block relative top-px text-xs text-gray-500 dark:text-gray-400 ltr:ml-[2px] rtl:mr-[2px]">
                                    5.0
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[11.5px] ltr:first:pl-0 rtl:first:pr-0 border-b border-primary-50 dark:border-[#172036] ltr:last:pr-0 rtl:last:pl-0 ltr:last:text-right rtl:last:text-left">
                            <div class="flex items-center gap-[10px]">
                                <div class="rounded-md w-[40px]">
                                    <img src="images/users/user76.jpg" class="inline-block rounded-md" alt="user-image">
                                </div>
                                <div>
                                    <span class="font-semibold inline-block mb-px">
                                        Angela Carter
                                    </span>
                                    <span class="block text-gray-500 dark:text-gray-400 text-xs">
                                        1020 Total Bookings
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[11.5px] ltr:first:pl-0 rtl:first:pr-0 border-b border-primary-50 dark:border-[#172036] ltr:last:pr-0 rtl:last:pl-0 ltr:last:text-right rtl:last:text-left">
                            <div class="flex items-center justify-end leading-none gap-[2px]">
                                <i class="ri-star-fill text-orange-500"></i>
                                <i class="ri-star-fill text-orange-500"></i>
                                <i class="ri-star-fill text-orange-500"></i>
                                <i class="ri-star-fill text-orange-500"></i>
                                <i class="ri-star-half-line text-orange-500"></i>
                                <span class="block relative top-px text-xs text-gray-500 dark:text-gray-400 ltr:ml-[2px] rtl:mr-[2px]">
                                    4.5
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[11.5px] ltr:first:pl-0 rtl:first:pr-0 border-b border-primary-50 dark:border-[#172036] ltr:last:pr-0 rtl:last:pl-0 ltr:last:text-right rtl:last:text-left">
                            <div class="flex items-center gap-[10px]">
                                <div class="rounded-md w-[40px]">
                                    <img src="images/users/user77.jpg" class="inline-block rounded-md" alt="user-image">
                                </div>
                                <div>
                                    <span class="font-semibold inline-block mb-px">
                                        Skyler White
                                    </span>
                                    <span class="block text-gray-500 dark:text-gray-400 text-xs">
                                        99 Total Bookings
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[11.5px] ltr:first:pl-0 rtl:first:pr-0 border-b border-primary-50 dark:border-[#172036] ltr:last:pr-0 rtl:last:pl-0 ltr:last:text-right rtl:last:text-left">
                            <div class="flex items-center justify-end leading-none gap-[2px]">
                                <i class="ri-star-fill text-orange-500"></i>
                                <i class="ri-star-fill text-orange-500"></i>
                                <i class="ri-star-fill text-orange-500"></i>
                                <i class="ri-star-fill text-orange-500"></i>
                                <i class="ri-star-line text-orange-500"></i>
                                <span class="block relative top-px text-xs text-gray-500 dark:text-gray-400 ltr:ml-[2px] rtl:mr-[2px]">
                                    4.0
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[11.5px] ltr:first:pl-0 rtl:first:pr-0 border-b border-primary-50 dark:border-[#172036] ltr:last:pr-0 rtl:last:pl-0 ltr:last:text-right rtl:last:text-left">
                            <div class="flex items-center gap-[10px]">
                                <div class="rounded-md w-[40px]">
                                    <img src="images/users/user78.jpg" class="inline-block rounded-md" alt="user-image">
                                </div>
                                <div>
                                    <span class="font-semibold inline-block mb-px">
                                        Jane Ronan
                                    </span>
                                    <span class="block text-gray-500 dark:text-gray-400 text-xs">
                                        89 Total Bookings
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[11.5px] ltr:first:pl-0 rtl:first:pr-0 border-b border-primary-50 dark:border-[#172036] ltr:last:pr-0 rtl:last:pl-0 ltr:last:text-right rtl:last:text-left">
                            <div class="flex items-center justify-end leading-none gap-[2px]">
                                <i class="ri-star-fill text-orange-500"></i>
                                <i class="ri-star-fill text-orange-500"></i>
                                <i class="ri-star-fill text-orange-500"></i>
                                <i class="ri-star-half-line text-orange-500"></i>
                                <i class="ri-star-line text-orange-500"></i>
                                <span class="block relative top-px text-xs text-gray-500 dark:text-gray-400 ltr:ml-[2px] rtl:mr-[2px]">
                                    3.5
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[11.5px] ltr:first:pl-0 rtl:first:pr-0 border-b border-primary-50 dark:border-[#172036] ltr:last:pr-0 rtl:last:pl-0 ltr:last:text-right rtl:last:text-left">
                            <div class="flex items-center gap-[10px]">
                                <div class="rounded-md w-[40px]">
                                    <img src="images/users/user79.jpg" class="inline-block rounded-md" alt="user-image">
                                </div>
                                <div>
                                    <span class="font-semibold inline-block mb-px">
                                        Angel Peril
                                    </span>
                                    <span class="block text-gray-500 dark:text-gray-400 text-xs">
                                        72 Total Bookings
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[11.5px] ltr:first:pl-0 rtl:first:pr-0 border-b border-primary-50 dark:border-[#172036] ltr:last:pr-0 rtl:last:pl-0 ltr:last:text-right rtl:last:text-left">
                            <div class="flex items-center justify-end leading-none gap-[2px]">
                                <i class="ri-star-fill text-orange-500"></i>
                                <i class="ri-star-fill text-orange-500"></i>
                                <i class="ri-star-fill text-orange-500"></i>
                                <i class="ri-star-line text-orange-500"></i>
                                <i class="ri-star-line text-orange-500"></i>
                                <span class="block relative top-px text-xs text-gray-500 dark:text-gray-400 ltr:ml-[2px] rtl:mr-[2px]">
                                    3.0
                                </span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>