<div
    class="trezo-card p-[20px] md:p-[25px] rounded-md relative z-[1]"
    style="background: linear-gradient(84deg, #23272E 3.5%, #526077 94.93%);"
>
    <div class="trezo-card-header mb-[12px] flex items-center justify-between">
        <div class="trezo-card-title">
            <span class="inline-block text-xs text-white font-medium py-[1.5px] px-[15px] rounded-[30px] bg-gray-600">
                Featured
            </span>
        </div>
    </div>
    <div class="trezo-card-content relative featured-slides">
        <owl-carousel-o [options]="featuredSlides">
            <ng-template carouselSlide>
                <div class="grid grid-cols-1 md:grid-cols-2">
                    <div>
                        <h1 class="text-[22px] md:text-2xl text-white font-medium mb-[7px]">
                            Mastering Digital Marketing
                        </h1>
                        <p class="md:max-w-[370px] text-gray-200">
                            Learn the latest digital marketing strategies with insights from SEO expert James Lee.
                        </p>
                        <div class="-mt-[5px]">
                            <div class="inline-block text-gray-50 ltr:mr-[10px] rtl:ml-[10px] rounded-[30px] py-[3.5px] px-[12.5px] border border-gray-500 mt-[10px]">
                                <span class="text-white font-semibold">
                                    Host:
                                </span>
                                Sarah J.
                            </div>
                            <div class="inline-block text-gray-50 ltr:mr-[10px] rtl:ml-[10px] rounded-[30px] py-[3.5px] px-[12.5px] border border-gray-500 mt-[10px]">
                                <span class="text-white font-semibold">
                                    Guest:
                                </span>
                                James Lee, SEO Expert
                            </div>
                        </div>
                        <app-music-player />
                    </div>
                    <div class="text-center mx-auto mt-[20px] md:mt-0 md:max-w-[332.5px]">
                        <img src="images/featured/featured1.png" alt="featured-image">
                    </div>
                </div>
                <div class="md:flex items-center md:mt-[20px] lg:mt-[9px] gap-[20px]">
                    <div class="inline-block relative ltr:pl-[40px] rtl:pr-[40px] mt-[15px] ltr:mr-[15px] rtl:ml-[15px] ltr:md:mr-0 rtl:md:ml-0 md:mt-0">
                        <div class="ltr:left-0 rtl:right-0 absolute top-1/2 -translate-y-1/2 !text-3xl text-primary-400">
                            <i class="ri-customer-service-line"></i>
                        </div>
                        <span class="block font-medium text-xs text-gray-200">
                            Listens
                        </span>
                        <h6 class="mb-0 font-medium text-white text-base">
                            8,200
                        </h6>
                    </div>
                    <div class="inline-block relative ltr:pl-[40px] rtl:pr-[40px] mt-[15px] ltr:mr-[15px] rtl:ml-[15px] ltr:md:mr-0 rtl:md:ml-0 md:mt-0">
                        <div class="ltr:left-0 rtl:right-0 absolute top-1/2 -translate-y-1/2 !text-3xl text-primary-400">
                            <i class="ri-thumb-up-line"></i>
                        </div>
                        <span class="block font-medium text-xs text-gray-200">
                            Likes
                        </span>
                        <h6 class="mb-0 font-medium text-white text-base">
                            1,500
                        </h6>
                    </div>
                    <div class="inline-block relative ltr:pl-[40px] rtl:pr-[40px] mt-[15px] ltr:mr-[15px] rtl:ml-[15px] ltr:md:mr-0 rtl:md:ml-0 md:mt-0">
                        <div class="ltr:left-0 rtl:right-0 absolute top-1/2 -translate-y-1/2 !text-3xl text-primary-400">
                            <i class="ri-share-line"></i>
                        </div>
                        <span class="block font-medium text-xs text-gray-200">
                            Shares
                        </span>
                        <h6 class="mb-0 font-medium text-white text-base">
                            350
                        </h6>
                    </div>
                    <div class="inline-block relative ltr:pl-[40px] rtl:pr-[40px] mt-[15px] ltr:mr-[15px] rtl:ml-[15px] ltr:md:mr-0 rtl:md:ml-0 md:mt-0">
                        <div class="ltr:left-0 rtl:right-0 absolute top-1/2 -translate-y-1/2 !text-3xl text-primary-400">
                            <i class="ri-bookmark-line"></i>
                        </div>
                        <span class="block font-medium text-xs text-gray-200">
                            Save for
                        </span>
                        <h6 class="mb-0 font-medium text-white text-base">
                            Later
                        </h6>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="grid grid-cols-1 md:grid-cols-2">
                    <div>
                        <h1 class="text-[22px] md:text-2xl text-white font-medium mb-[7px]">
                            Content Marketing Essentials
                        </h1>
                        <p class="md:max-w-[370px] text-gray-200">
                            This episode covers creating impactful content that resonates with audiences.
                        </p>
                        <div class="-mt-[5px]">
                            <div class="inline-block text-gray-50 ltr:mr-[10px] rtl:ml-[10px] rounded-[30px] py-[3.5px] px-[12.5px] border border-gray-500 mt-[10px]">
                                <span class="text-white font-semibold">
                                    Host:
                                </span>
                                Sarah J.
                            </div>
                            <div class="inline-block text-gray-50 ltr:mr-[10px] rtl:ml-[10px] rounded-[30px] py-[3.5px] px-[12.5px] border border-gray-500 mt-[10px]">
                                <span class="text-white font-semibold">
                                    Guest:
                                </span>
                                James Lee, SEO Expert
                            </div>
                        </div>
                        <app-music-player />
                    </div>
                    <div class="text-center mx-auto mt-[20px] md:mt-0 md:max-w-[332.5px]">
                        <img src="images/featured/featured2.png" alt="featured-image">
                    </div>
                </div>
                <div class="md:flex items-center md:mt-[20px] lg:mt-[9px] gap-[20px]">
                    <div class="inline-block relative ltr:pl-[40px] rtl:pr-[40px] mt-[15px] ltr:mr-[15px] rtl:ml-[15px] ltr:md:mr-0 rtl:md:ml-0 md:mt-0">
                        <div class="ltr:left-0 rtl:right-0 absolute top-1/2 -translate-y-1/2 !text-3xl text-primary-400">
                            <i class="ri-customer-service-line"></i>
                        </div>
                        <span class="block font-medium text-xs text-gray-200">
                            Listens
                        </span>
                        <h6 class="mb-0 font-medium text-white text-base">
                            8,200
                        </h6>
                    </div>
                    <div class="inline-block relative ltr:pl-[40px] rtl:pr-[40px] mt-[15px] ltr:mr-[15px] rtl:ml-[15px] ltr:md:mr-0 rtl:md:ml-0 md:mt-0">
                        <div class="ltr:left-0 rtl:right-0 absolute top-1/2 -translate-y-1/2 !text-3xl text-primary-400">
                            <i class="ri-thumb-up-line"></i>
                        </div>
                        <span class="block font-medium text-xs text-gray-200">
                            Likes
                        </span>
                        <h6 class="mb-0 font-medium text-white text-base">
                            1,500
                        </h6>
                    </div>
                    <div class="inline-block relative ltr:pl-[40px] rtl:pr-[40px] mt-[15px] ltr:mr-[15px] rtl:ml-[15px] ltr:md:mr-0 rtl:md:ml-0 md:mt-0">
                        <div class="ltr:left-0 rtl:right-0 absolute top-1/2 -translate-y-1/2 !text-3xl text-primary-400">
                            <i class="ri-share-line"></i>
                        </div>
                        <span class="block font-medium text-xs text-gray-200">
                            Shares
                        </span>
                        <h6 class="mb-0 font-medium text-white text-base">
                            350
                        </h6>
                    </div>
                    <div class="inline-block relative ltr:pl-[40px] rtl:pr-[40px] mt-[15px] ltr:mr-[15px] rtl:ml-[15px] ltr:md:mr-0 rtl:md:ml-0 md:mt-0">
                        <div class="ltr:left-0 rtl:right-0 absolute top-1/2 -translate-y-1/2 !text-3xl text-primary-400">
                            <i class="ri-bookmark-line"></i>
                        </div>
                        <span class="block font-medium text-xs text-gray-200">
                            Save for
                        </span>
                        <h6 class="mb-0 font-medium text-white text-base">
                            Later
                        </h6>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="grid grid-cols-1 md:grid-cols-2">
                    <div>
                        <h1 class="text-[22px] md:text-2xl text-white font-medium mb-[7px]">
                            Social Media Trends
                        </h1>
                        <p class="md:max-w-[370px] text-gray-200">
                            Learn the latest digital marketing strategies with insights from SEO expert James Lee.
                        </p>
                        <div class="-mt-[5px]">
                            <div class="inline-block text-gray-50 ltr:mr-[10px] rtl:ml-[10px] rounded-[30px] py-[3.5px] px-[12.5px] border border-gray-500 mt-[10px]">
                                <span class="text-white font-semibold">
                                    Host:
                                </span>
                                Sarah J.
                            </div>
                            <div class="inline-block text-gray-50 ltr:mr-[10px] rtl:ml-[10px] rounded-[30px] py-[3.5px] px-[12.5px] border border-gray-500 mt-[10px]">
                                <span class="text-white font-semibold">
                                    Guest:
                                </span>
                                James Lee, SEO Expert
                            </div>
                        </div>
                        <app-music-player />
                    </div>
                    <div class="text-center mx-auto mt-[20px] md:mt-0 md:max-w-[332.5px]">
                        <img src="images/featured/featured3.png" alt="featured-image">
                    </div>
                </div>
                <div class="md:flex items-center md:mt-[20px] lg:mt-[9px] gap-[20px]">
                    <div class="inline-block relative ltr:pl-[40px] rtl:pr-[40px] mt-[15px] ltr:mr-[15px] rtl:ml-[15px] ltr:md:mr-0 rtl:md:ml-0 md:mt-0">
                        <div class="ltr:left-0 rtl:right-0 absolute top-1/2 -translate-y-1/2 !text-3xl text-primary-400">
                            <i class="ri-customer-service-line"></i>
                        </div>
                        <span class="block font-medium text-xs text-gray-200">
                            Listens
                        </span>
                        <h6 class="mb-0 font-medium text-white text-base">
                            8,200
                        </h6>
                    </div>
                    <div class="inline-block relative ltr:pl-[40px] rtl:pr-[40px] mt-[15px] ltr:mr-[15px] rtl:ml-[15px] ltr:md:mr-0 rtl:md:ml-0 md:mt-0">
                        <div class="ltr:left-0 rtl:right-0 absolute top-1/2 -translate-y-1/2 !text-3xl text-primary-400">
                            <i class="ri-thumb-up-line"></i>
                        </div>
                        <span class="block font-medium text-xs text-gray-200">
                            Likes
                        </span>
                        <h6 class="mb-0 font-medium text-white text-base">
                            1,500
                        </h6>
                    </div>
                    <div class="inline-block relative ltr:pl-[40px] rtl:pr-[40px] mt-[15px] ltr:mr-[15px] rtl:ml-[15px] ltr:md:mr-0 rtl:md:ml-0 md:mt-0">
                        <div class="ltr:left-0 rtl:right-0 absolute top-1/2 -translate-y-1/2 !text-3xl text-primary-400">
                            <i class="ri-share-line"></i>
                        </div>
                        <span class="block font-medium text-xs text-gray-200">
                            Shares
                        </span>
                        <h6 class="mb-0 font-medium text-white text-base">
                            350
                        </h6>
                    </div>
                    <div class="inline-block relative ltr:pl-[40px] rtl:pr-[40px] mt-[15px] ltr:mr-[15px] rtl:ml-[15px] ltr:md:mr-0 rtl:md:ml-0 md:mt-0">
                        <div class="ltr:left-0 rtl:right-0 absolute top-1/2 -translate-y-1/2 !text-3xl text-primary-400">
                            <i class="ri-bookmark-line"></i>
                        </div>
                        <span class="block font-medium text-xs text-gray-200">
                            Save for
                        </span>
                        <h6 class="mb-0 font-medium text-white text-base">
                            Later
                        </h6>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
    <div class="absolute -z-[1] bottom-0 ltr:right-0 rtl:left-0 rtl:-scale-x-[1]">
        <img src="images/featured/featured-shape.png" alt="shape-image">
    </div>
</div>