<div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md">
    <div class="trezo-card-header mb-[20px] md:mb-[25px] flex items-center justify-between">
        <div class="trezo-card-title">
            <h5 class="mb-0">
                Featured Services
            </h5>
        </div>
    </div>
    <div class="trezo-card-content">
        <ul>
            <li class="flex items-center justify-between border-b border-gray-100 dark:border-[#172036] pb-[12px] mb-[12px] last:border-none last:mb-0 last:pb-0">
                <div class="flex items-center gap-[15px]">
                    <img src="images/icons/hair-cutting.svg" alt="hair-cutting">
                    <div>
                        <span class="block font-medium text-black dark:text-white mb-[2px]">
                            Hair Cut
                        </span>
                        <span class="block text-xs">
                            132 Served this week
                        </span>
                    </div>
                </div>
                <span class="inline-block font-medium text-primary-500 rounded-full flex items-center justify-center bg-primary-100 dark:bg-[#172036] w-[25px] h-[25px] text-xs pt-px">
                    01
                </span>
            </li>
            <li class="flex items-center justify-between border-b border-gray-100 dark:border-[#172036] pb-[12px] mb-[12px] last:border-none last:mb-0 last:pb-0">
                <div class="flex items-center gap-[15px]">
                    <img src="images/icons/manicure.svg" alt="manicure">
                    <div>
                        <span class="block font-medium text-black dark:text-white mb-[2px]">
                            Manicure
                        </span>
                        <span class="block text-xs">
                            102 Served this week
                        </span>
                    </div>
                </div>
                <span class="inline-block font-medium text-primary-500 rounded-full flex items-center justify-center bg-primary-100 dark:bg-[#172036] w-[25px] h-[25px] text-xs pt-px">
                    02
                </span>
            </li>
            <li class="flex items-center justify-between border-b border-gray-100 dark:border-[#172036] pb-[12px] mb-[12px] last:border-none last:mb-0 last:pb-0">
                <div class="flex items-center gap-[15px]">
                    <img src="images/icons/pedicure.svg" alt="pedicure">
                    <div>
                        <span class="block font-medium text-black dark:text-white mb-[2px]">
                            Pedicure
                        </span>
                        <span class="block text-xs">
                            99 Served this week
                        </span>
                    </div>
                </div>
                <span class="inline-block font-medium text-primary-500 rounded-full flex items-center justify-center bg-primary-100 dark:bg-[#172036] w-[25px] h-[25px] text-xs pt-px">
                    03
                </span>
            </li>
            <li class="flex items-center justify-between border-b border-gray-100 dark:border-[#172036] pb-[12px] mb-[12px] last:border-none last:mb-0 last:pb-0">
                <div class="flex items-center gap-[15px]">
                    <img src="images/icons/nail-polish.svg" alt="nail-polish">
                    <div>
                        <span class="block font-medium text-black dark:text-white mb-[2px]">
                            Nail Art
                        </span>
                        <span class="block text-xs">
                            89 Served this week
                        </span>
                    </div>
                </div>
                <span class="inline-block font-medium text-primary-500 rounded-full flex items-center justify-center bg-primary-100 dark:bg-[#172036] w-[25px] h-[25px] text-xs pt-px">
                    04
                </span>
            </li>
            <li class="flex items-center justify-between border-b border-gray-100 dark:border-[#172036] pb-[12px] mb-[12px] last:border-none last:mb-0 last:pb-0">
                <div class="flex items-center gap-[15px]">
                    <img src="images/icons/woman.svg" alt="woman">
                    <div>
                        <span class="block font-medium text-black dark:text-white mb-[2px]">
                            Facial Treatment
                        </span>
                        <span class="block text-xs">
                            72 Served this week
                        </span>
                    </div>
                </div>
                <span class="inline-block font-medium text-primary-500 rounded-full flex items-center justify-center bg-primary-100 dark:bg-[#172036] w-[25px] h-[25px] text-xs pt-px">
                    05
                </span>
            </li>
        </ul>
    </div>
</div>