<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-[25px] lg:gap-[25px] mb-[25px]">

    <!-- Total Sales -->
    <app-total-sales />
        
    <!-- Total Transactions -->
    <app-total-transactions />

    <!-- Average Order Value -->
    <app-average-order-value />

    <!-- Total Discount -->
    <app-total-discount />

</div>
<div class="grid grid-cols-1 lg:grid-cols-3 gap-[25px] mb-[25px]">
    <div class="lg:col-span-2">

        <!-- Sales Analytics -->
        <app-sales-analytics />
        
    </div>
    <div class="lg:col-span-1">

        <!-- Customer Segmentation -->
        <app-customer-segmentation />

    </div>
</div>

<div class="grid grid-cols-1 lg:grid-cols-3 gap-[25px] mb-[25px]">
    <div class="lg:col-span-2">

        <!-- Categories -->
        <app-categories />

    </div>
    <div class="lg:col-span-1">

        <!-- Order Details -->
        <app-order-details />

    </div>
</div>