<div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md">
    <div class="trezo-card-header mb-[20px] md:mb-[25px] flex items-center justify-between">
        <div class="trezo-card-title">
            <h5 class="mb-0">
                Stock Alerts
            </h5>
        </div>
    </div>
    <div class="trezo-card-content">
        <div class="table-responsive overflow-x-auto">
            <table class="w-full">
                <thead>
                    <tr>
                        <th class="whitespace-nowrap uppercase text-[10px] font-bold tracking-[1px] ltr:text-left rtl:text-right pt-0 pb-[11px] px-[20px] text-gray-500 dark:text-gray-400 ltr:first:pl-0 rtl:first:pr-0 ltr:last:pr-0 rtl:first:pl-0">
                            Code
                        </th>
                        <th class="whitespace-nowrap uppercase text-[10px] font-bold tracking-[1px] ltr:text-left rtl:text-right pt-0 pb-[11px] px-[20px] text-gray-500 dark:text-gray-400 ltr:first:pl-0 rtl:first:pr-0 ltr:last:pr-0 rtl:first:pl-0">
                            Product
                        </th>
                        <th class="whitespace-nowrap uppercase text-[10px] font-bold tracking-[1px] ltr:text-left rtl:text-right pt-0 pb-[11px] px-[20px] text-gray-500 dark:text-gray-400 ltr:first:pl-0 rtl:first:pr-0 ltr:last:pr-0 rtl:first:pl-0">
                            Store
                        </th>
                        <th class="whitespace-nowrap uppercase text-[10px] font-bold tracking-[1px] ltr:text-left rtl:text-right pt-0 pb-[11px] px-[20px] text-gray-500 dark:text-gray-400 ltr:first:pl-0 rtl:first:pr-0 ltr:last:pr-0 rtl:first:pl-0">
                            Quantity
                        </th>
                        <th class="whitespace-nowrap uppercase text-[10px] font-bold tracking-[1px] ltr:text-left rtl:text-right pt-0 pb-[11px] px-[20px] text-gray-500 dark:text-gray-400 ltr:first:pl-0 rtl:first:pr-0 ltr:last:pr-0 rtl:first:pl-0">
                            Alert Quantity
                        </th>
                        <th class="whitespace-nowrap uppercase text-[10px] font-bold tracking-[1px] ltr:text-left rtl:text-right pt-0 pb-[11px] px-[20px] text-gray-500 dark:text-gray-400 ltr:first:pl-0 rtl:first:pr-0 ltr:last:pr-0 rtl:first:pl-0"></th>
                    </tr>
                </thead>
                <tbody class="text-black dark:text-white">
                    <tr>
                        <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[11px] ltr:first:pl-0 rtl:first:pr-0 border-b border-primary-50 dark:border-[#172036] ltr:last:pr-0 rtl:last:pl-0">
                            <span class="block text-xs font-semibold text-gray-600 dark:text-gray-400">
                                #3421
                            </span>
                        </td>
                        <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[11px] ltr:first:pl-0 rtl:first:pr-0 border-b border-primary-50 dark:border-[#172036] ltr:last:pr-0 rtl:last:pl-0">
                            <div class="flex items-center gap-[10px]">
                                <div class="rounded-md w-[29px]">
                                    <img src="images/stock-alerts/stock1.jpg" calt="user-image" class="rounded-md">
                                </div>
                                <a routerLink="." class="font-semibold inline-block text-black dark:text-white transition-all hover:text-primary-500">
                                    ZenX Laptop
                                </a>
                            </div>
                        </td>
                        <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[11px] ltr:first:pl-0 rtl:first:pr-0 border-b border-primary-50 dark:border-[#172036] ltr:last:pr-0 rtl:last:pl-0">
                            <span class="block text-xs font-semibold text-gray-600 dark:text-gray-400">
                                Store 01
                            </span>
                        </td>
                        <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[11px] ltr:first:pl-0 rtl:first:pr-0 border-b border-primary-50 dark:border-[#172036] ltr:last:pr-0 rtl:last:pl-0">
                            <span class="block text-xs font-semibold text-gray-600 dark:text-gray-400">
                                5
                            </span>
                        </td>
                        <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[11px] ltr:first:pl-0 rtl:first:pr-0 border-b border-primary-50 dark:border-[#172036] ltr:last:pr-0 rtl:last:pl-0">
                            <span class="inline-block text-xs px-[9px] text-danger-700 border border-danger-300 bg-danger-100 dark:bg-[#15203c] dark:border-[#15203c] text-sm rounded-[100px]">
                                10
                            </span>
                        </td>
                        <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[11px] ltr:first:pl-0 rtl:first:pr-0 border-b border-primary-50 dark:border-[#172036] ltr:last:pr-0 rtl:last:pl-0">
                            <div class="flex items-center gap-[9px]">
                                <button type="button" class="text-primary-500 leading-none">
                                    <i class="material-symbols-outlined !text-md">
                                        visibility
                                    </i>
                                </button>
                                <button type="button" class="text-gray-500 dark:text-gray-400 leading-none">
                                    <i class="material-symbols-outlined !text-md">
                                        edit
                                    </i>
                                </button>
                                <button type="button" class="text-danger-500 leading-none">
                                    <i class="material-symbols-outlined !text-md">
                                        delete
                                    </i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[11px] ltr:first:pl-0 rtl:first:pr-0 border-b border-primary-50 dark:border-[#172036] ltr:last:pr-0 rtl:last:pl-0">
                            <span class="block text-xs font-semibold text-gray-600 dark:text-gray-400">
                                #3429
                            </span>
                        </td>
                        <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[11px] ltr:first:pl-0 rtl:first:pr-0 border-b border-primary-50 dark:border-[#172036] ltr:last:pr-0 rtl:last:pl-0">
                            <div class="flex items-center gap-[10px]">
                                <div class="rounded-md w-[29px]">
                                    <img src="images/stock-alerts/stock2.jpg" calt="user-image" class="rounded-md">
                                </div>
                                <a routerLink="." class="font-semibold inline-block text-black dark:text-white transition-all hover:text-primary-500">
                                    Mackbook Pro
                                </a>
                            </div>
                        </td>
                        <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[11px] ltr:first:pl-0 rtl:first:pr-0 border-b border-primary-50 dark:border-[#172036] ltr:last:pr-0 rtl:last:pl-0">
                            <span class="block text-xs font-semibold text-gray-600 dark:text-gray-400">
                                Store 02
                            </span>
                        </td>
                        <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[11px] ltr:first:pl-0 rtl:first:pr-0 border-b border-primary-50 dark:border-[#172036] ltr:last:pr-0 rtl:last:pl-0">
                            <span class="block text-xs font-semibold text-gray-600 dark:text-gray-400">
                                3
                            </span>
                        </td>
                        <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[11px] ltr:first:pl-0 rtl:first:pr-0 border-b border-primary-50 dark:border-[#172036] ltr:last:pr-0 rtl:last:pl-0">
                            <span class="inline-block text-xs px-[9px] text-danger-700 border border-danger-300 bg-danger-100 dark:bg-[#15203c] dark:border-[#15203c] text-sm rounded-[100px]">
                                15
                            </span>
                        </td>
                        <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[11px] ltr:first:pl-0 rtl:first:pr-0 border-b border-primary-50 dark:border-[#172036] ltr:last:pr-0 rtl:last:pl-0">
                            <div class="flex items-center gap-[9px]">
                                <button type="button" class="text-primary-500 leading-none">
                                    <i class="material-symbols-outlined !text-md">
                                        visibility
                                    </i>
                                </button>
                                <button type="button" class="text-gray-500 dark:text-gray-400 leading-none">
                                    <i class="material-symbols-outlined !text-md">
                                        edit
                                    </i>
                                </button>
                                <button type="button" class="text-danger-500 leading-none">
                                    <i class="material-symbols-outlined !text-md">
                                        delete
                                    </i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[11px] ltr:first:pl-0 rtl:first:pr-0 border-b border-primary-50 dark:border-[#172036] ltr:last:pr-0 rtl:last:pl-0">
                            <span class="block text-xs font-semibold text-gray-600 dark:text-gray-400">
                                #3425
                            </span>
                        </td>
                        <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[11px] ltr:first:pl-0 rtl:first:pr-0 border-b border-primary-50 dark:border-[#172036] ltr:last:pr-0 rtl:last:pl-0">
                            <div class="flex items-center gap-[10px]">
                                <div class="rounded-md w-[29px]">
                                    <img src="images/stock-alerts/stock3.jpg" calt="user-image" class="rounded-md">
                                </div>
                                <a routerLink="." class="font-semibold inline-block text-black dark:text-white transition-all hover:text-primary-500">
                                    Smart Pencil
                                </a>
                            </div>
                        </td>
                        <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[11px] ltr:first:pl-0 rtl:first:pr-0 border-b border-primary-50 dark:border-[#172036] ltr:last:pr-0 rtl:last:pl-0">
                            <span class="block text-xs font-semibold text-gray-600 dark:text-gray-400">
                                Store 01
                            </span>
                        </td>
                        <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[11px] ltr:first:pl-0 rtl:first:pr-0 border-b border-primary-50 dark:border-[#172036] ltr:last:pr-0 rtl:last:pl-0">
                            <span class="block text-xs font-semibold text-gray-600 dark:text-gray-400">
                                2
                            </span>
                        </td>
                        <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[11px] ltr:first:pl-0 rtl:first:pr-0 border-b border-primary-50 dark:border-[#172036] ltr:last:pr-0 rtl:last:pl-0">
                            <span class="inline-block text-xs px-[9px] text-danger-700 border border-danger-300 bg-danger-100 dark:bg-[#15203c] dark:border-[#15203c] text-sm rounded-[100px]">
                                07
                            </span>
                        </td>
                        <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[11px] ltr:first:pl-0 rtl:first:pr-0 border-b border-primary-50 dark:border-[#172036] ltr:last:pr-0 rtl:last:pl-0">
                            <div class="flex items-center gap-[9px]">
                                <button type="button" class="text-primary-500 leading-none">
                                    <i class="material-symbols-outlined !text-md">
                                        visibility
                                    </i>
                                </button>
                                <button type="button" class="text-gray-500 dark:text-gray-400 leading-none">
                                    <i class="material-symbols-outlined !text-md">
                                        edit
                                    </i>
                                </button>
                                <button type="button" class="text-danger-500 leading-none">
                                    <i class="material-symbols-outlined !text-md">
                                        delete
                                    </i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[11px] ltr:first:pl-0 rtl:first:pr-0 border-b border-primary-50 dark:border-[#172036] ltr:last:pr-0 rtl:last:pl-0">
                            <span class="block text-xs font-semibold text-gray-600 dark:text-gray-400">
                                #3424
                            </span>
                        </td>
                        <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[11px] ltr:first:pl-0 rtl:first:pr-0 border-b border-primary-50 dark:border-[#172036] ltr:last:pr-0 rtl:last:pl-0">
                            <div class="flex items-center gap-[10px]">
                                <div class="rounded-md w-[29px]">
                                    <img src="images/stock-alerts/stock4.jpg" calt="user-image" class="rounded-md">
                                </div>
                                <a routerLink="." class="font-semibold inline-block text-black dark:text-white transition-all hover:text-primary-500">
                                    Banner Mockup
                                </a>
                            </div>
                        </td>
                        <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[11px] ltr:first:pl-0 rtl:first:pr-0 border-b border-primary-50 dark:border-[#172036] ltr:last:pr-0 rtl:last:pl-0">
                            <span class="block text-xs font-semibold text-gray-600 dark:text-gray-400">
                                Store 02
                            </span>
                        </td>
                        <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[11px] ltr:first:pl-0 rtl:first:pr-0 border-b border-primary-50 dark:border-[#172036] ltr:last:pr-0 rtl:last:pl-0">
                            <span class="block text-xs font-semibold text-gray-600 dark:text-gray-400">
                                4
                            </span>
                        </td>
                        <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[11px] ltr:first:pl-0 rtl:first:pr-0 border-b border-primary-50 dark:border-[#172036] ltr:last:pr-0 rtl:last:pl-0">
                            <span class="inline-block text-xs px-[9px] text-danger-700 border border-danger-300 bg-danger-100 dark:bg-[#15203c] dark:border-[#15203c] text-sm rounded-[100px]">
                                12
                            </span>
                        </td>
                        <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[11px] ltr:first:pl-0 rtl:first:pr-0 border-b border-primary-50 dark:border-[#172036] ltr:last:pr-0 rtl:last:pl-0">
                            <div class="flex items-center gap-[9px]">
                                <button type="button" class="text-primary-500 leading-none">
                                    <i class="material-symbols-outlined !text-md">
                                        visibility
                                    </i>
                                </button>
                                <button type="button" class="text-gray-500 dark:text-gray-400 leading-none">
                                    <i class="material-symbols-outlined !text-md">
                                        edit
                                    </i>
                                </button>
                                <button type="button" class="text-danger-500 leading-none">
                                    <i class="material-symbols-outlined !text-md">
                                        delete
                                    </i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[11px] ltr:first:pl-0 rtl:first:pr-0 border-b border-primary-50 dark:border-[#172036] ltr:last:pr-0 rtl:last:pl-0">
                            <span class="block text-xs font-semibold text-gray-600 dark:text-gray-400">
                                #3422
                            </span>
                        </td>
                        <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[11px] ltr:first:pl-0 rtl:first:pr-0 border-b border-primary-50 dark:border-[#172036] ltr:last:pr-0 rtl:last:pl-0">
                            <div class="flex items-center gap-[10px]">
                                <div class="rounded-md w-[29px]">
                                    <img src="images/stock-alerts/stock5.jpg" calt="user-image" class="rounded-md">
                                </div>
                                <a routerLink="." class="font-semibold inline-block text-black dark:text-white transition-all hover:text-primary-500">
                                    Clay Camera
                                </a>
                            </div>
                        </td>
                        <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[11px] ltr:first:pl-0 rtl:first:pr-0 border-b border-primary-50 dark:border-[#172036] ltr:last:pr-0 rtl:last:pl-0">
                            <span class="block text-xs font-semibold text-gray-600 dark:text-gray-400">
                                Store 01
                            </span>
                        </td>
                        <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[11px] ltr:first:pl-0 rtl:first:pr-0 border-b border-primary-50 dark:border-[#172036] ltr:last:pr-0 rtl:last:pl-0">
                            <span class="block text-xs font-semibold text-gray-600 dark:text-gray-400">
                                3
                            </span>
                        </td>
                        <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[11px] ltr:first:pl-0 rtl:first:pr-0 border-b border-primary-50 dark:border-[#172036] ltr:last:pr-0 rtl:last:pl-0">
                            <span class="inline-block text-xs px-[9px] text-danger-700 border border-danger-300 bg-danger-100 dark:bg-[#15203c] dark:border-[#15203c] text-sm rounded-[100px]">
                                10
                            </span>
                        </td>
                        <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[11px] ltr:first:pl-0 rtl:first:pr-0 border-b border-primary-50 dark:border-[#172036] ltr:last:pr-0 rtl:last:pl-0">
                            <div class="flex items-center gap-[9px]">
                                <button type="button" class="text-primary-500 leading-none">
                                    <i class="material-symbols-outlined !text-md">
                                        visibility
                                    </i>
                                </button>
                                <button type="button" class="text-gray-500 dark:text-gray-400 leading-none">
                                    <i class="material-symbols-outlined !text-md">
                                        edit
                                    </i>
                                </button>
                                <button type="button" class="text-danger-500 leading-none">
                                    <i class="material-symbols-outlined !text-md">
                                        delete
                                    </i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="pt-[11px] sm:flex sm:items-center justify-between">
            <p class="mb-0 text-xs">
                Showing 5 of 36 results
            </p>
            <ol class="mt-[10px] sm:mt-0">
                <li class="inline-block mx-[3px] ltr:first:ml-0 ltr:last:mr-0 rtl:first:mr-0 rtl:last:ml-0">
                    <a routerLink="." class="w-[31px] h-[31px] block leading-[29px] relative text-center rounded-md border border-gray-100 dark:border-[#172036] transition-all hover:bg-primary-500 hover:text-white hover:border-primary-500">
                        <span class="opacity-0">
                            0
                        </span>
                        <i class="material-symbols-outlined left-0 right-0 absolute top-1/2 -translate-y-1/2">
                            chevron_left
                        </i>
                    </a>
                </li>
                <li class="inline-block mx-[3px] ltr:first:ml-0 ltr:last:mr-0 rtl:first:mr-0 rtl:last:ml-0">
                    <a routerLink="." class="w-[31px] h-[31px] block leading-[29px] relative text-center rounded-md border border-primary-500 bg-primary-500 text-white">
                        1
                    </a>
                </li>
                <li class="inline-block mx-[3px] ltr:first:ml-0 ltr:last:mr-0 rtl:first:mr-0 rtl:last:ml-0">
                    <a routerLink="." class="w-[31px] h-[31px] block leading-[29px] relative text-center rounded-md border border-gray-100 dark:border-[#172036] transition-all hover:bg-primary-500 hover:text-white hover:border-primary-500">
                        2
                    </a>
                </li>
                <li class="inline-block mx-[3px] ltr:first:ml-0 ltr:last:mr-0 rtl:first:mr-0 rtl:last:ml-0">
                    <a routerLink="." class="w-[31px] h-[31px] block leading-[29px] relative text-center rounded-md border border-gray-100 dark:border-[#172036] transition-all hover:bg-primary-500 hover:text-white hover:border-primary-500">
                        3
                    </a>
                </li>
                <li class="inline-block mx-[3px] ltr:first:ml-0 ltr:last:mr-0 rtl:first:mr-0 rtl:last:ml-0">
                    <a routerLink="." class="w-[31px] h-[31px] block leading-[29px] relative text-center rounded-md border border-gray-100 dark:border-[#172036] transition-all hover:bg-primary-500 hover:text-white hover:border-primary-500">
                        4
                    </a>
                </li>
                <li class="inline-block mx-[3px] ltr:first:ml-0 ltr:last:mr-0 rtl:first:mr-0 rtl:last:ml-0">
                    <a routerLink="." class="w-[31px] h-[31px] block leading-[29px] relative text-center rounded-md border border-gray-100 dark:border-[#172036] transition-all hover:bg-primary-500 hover:text-white hover:border-primary-500">
                        <span class="opacity-0">
                            0
                        </span>
                        <i class="material-symbols-outlined left-0 right-0 absolute top-1/2 -translate-y-1/2">
                            chevron_right
                        </i>
                    </a>
                </li>
            </ol>
        </div>
    </div>
</div>